# Config file for automatic testing at travis-ci.org
dist: bionic
language: python
python:
  - 3.7
  - 3.6
  - 3.5

# Command to install dependencies
install:
   - pip install -U tox-travis codecov
   - sudo apt-get install graphviz

# Command to run tests
script: travis_wait 120 tox

after_success: codecov

deploy:

  - provider: pages
    skip-cleanup: true
    github-token: "$GITHUB_TOKEN"
    keep-history: true
    local-dir: docs/_build/html
    target-branch: gh-pages
    on:
      branch: master
      python: 3.6
